@font-face {
    font-family: 'Digital-7';
    src: url('fonts/Digital7-rg1mL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 17%);
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    color: whitesmoke;
}
body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroller-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scroller {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 400%;
}

.scroller img {
    margin: 0;
    width: 100%;
    height: 50%;
}

.skytransition {
    animation: skytransition 5s linear;
    animation-fill-mode: forwards;
}

@keyframes skyTransition {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1
    }
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

.scroller.animate {
    animation: scrollAnimation 2s infinite linear;
}

.skytransition {
    animation: skyTransition 5s forwards;
}

.wrapper {
    min-width: 380px;
    min-height: 250px;
    background: linear-gradient(145deg, hsl(0, 0%, 50%), hsl(0, 0%, 35%));;
    border-radius: 15px;
    box-shadow: 0 6px 0 #000000,
                0 10px 12px #000;
    border: #000 solid 6px;
}

.box {
    text-align: center;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 2fr;
    place-items: center;
    height: 100%;
}

.button{
    display: inline-block;
    background: linear-gradient(145deg, green, hsl(120, 100%, 15%));
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    border: black solid 5px;
    box-shadow: 0 6px 0 rgb(0, 0, 0),
                0 10px 12px #000000;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2rem;
}
.button:active {
    transform: scale(0.90);
    transform: translateY(6px);
    transition: 50ms, box-shadow 50ms;
    box-shadow: 0 0 0 #000000;
}

.text-display {
    background-color: rgb(171, 255, 87);
    padding: 10px 15px;
    width: 90%;
    border: black solid 5px;
    border-radius: 15px;
    color: #040022;
    box-shadow: inset 0 8px 0 rgba(0, 0, 0, 0.541);
    font-family: 'Digital-7', sans-serif;
}

.right {
    background-color: aquamarine;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

.ground {
    background: url(kuvat/New_groung2.png) no-repeat center bottom;
    position: absolute;
    background-size: contain;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nervous {
    position: absolute;
    bottom: 220px;
    left: 50%;
    background: url(kuvat/nervous.png) no-repeat 0 0;
    width: 223px;
    height: 100px;
    margin-left: -180px;
    display: none;
}

.nervous.show {
    display: block;
}

.cant-wait {
    position: absolute;
    bottom: 220px;
    left: 50%;
    background: url(kuvat/cant-wait.png) no-repeat 0 0;
    width: 206px;
    height: 65px;
    display: none;
}

.cant-wait.show {
    display: block;
}

.rocket {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 300px;
    height: 300px;
    margin-left: -150px;
    background: url(kuvat/rocket.png) no-repeat center bottom;
}

/* rocket bg image */
body.body-state2 .rocket {
    background-image: url(kuvat/rocket_launch_animation.gif);
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    background-image: url(kuvat/rocket_flying_animation.gif);
}

body.body-state5 .rocket {
    bottom: 46vh; 
    background-image: url(kuvat/pam.png);
    width: 300px;
    height: 300px;
    margin-left: -150px;
}

body.body-state1 .rocket {
    transition: none;
}

body.body-state3 .rocket,
body.body-state4 .rocket {
    animation: animate_rocket 3s ease-out;
    animation-fill-mode: forwards;
}

body.body-state3 .ground,
body.body-state4 .ground,
body.body-state5 .ground {
    animation: animate_ground 0.3s linear;
    animation-fill-mode: forwards;
}
@keyframes animate_rocket{
    100% {
        bottom: 46vh;
    }
}

@keyframes animate_ground {
    100%{
        bottom: -100%;
    }
}
.state1,
.state2,
.state3,
.state4,
.state5 {
    display: none;
}

body.body-state1 .state1 {
    display: block;
}

body.body-state2 .state2 {
    display: block;
    .button {
        background: linear-gradient(145deg, red, hsl(0, 100%, 20%));
    }
}

body.body-state3 .state3 {
    display: block;
}

body.body-state4 .state4 {
    display: block;
}

body.body-state5 .state5 {
    display: block;
    .button {
        background: linear-gradient(145deg, yellow, hsl(60, 100%, 30%));
        color: black;
    }
}